# I/O Functions

In [1]:
print(10+30)

40

In [5]:
print('data','sciecne',sep='+',end='||')

data+sciecne||

In [2]:
print('data', 'science', end=' || ', sep=' + ') #shift+tab
print(30)

data + science || 30

In [3]:
print('data','science',sep=' -')

data -science

In [6]:
x = int(input('1st = '))
y = int(input('2nd = '))
print(x+y)

1st = 40
2nd = 50
90

In [7]:
type(x+y)

int

In [15]:
num = 10

In [16]:
num

10

In [17]:
1num = 10

SyntaxError: invalid syntax (1972592647.py, line 1)

In [18]:
num-1 = 10

SyntaxError: cannot assign to operator (2692561393.py, line 1)

In [19]:
num_1 = 10

In [20]:
num_1

10

In [21]:
num& = 10

SyntaxError: invalid syntax (1357037081.py, line 1)

In [23]:
X = 50

In [24]:
num_*=10

NameError: name 'num_' is not defined

In [25]:
x=10
y=30
print(X)

50

In [26]:
Num = 10

In [27]:
Num

10

In [28]:
x,y,z = 10, 40, 50

In [29]:
x

10

In [30]:
y

40

In [31]:
z

50

In [33]:
x,y,z = 10, 40, 50

Multi Word Variable Name
1. camelCaseVar
2. PascalCaseVar
3. snake_case_var

In [34]:
student_name = ['a', 'b','c']

In [35]:
student_name

['a', 'b', 'c']

In [36]:
StudentName = ['a', 'b','c']
StudentName

['a', 'b', 'c']

In [37]:
studentName = ['a', 'b','c']

# Global vs Local

In [1]:
x = 100
def sum_func():
    print(x+x)

In [43]:
sum_func()

90

In [6]:
x = 100
def sum_func():
    d = 45
    print(d+d)

In [7]:
sum_func()

90

In [8]:
print(d)

NameError: name 'd' is not defined

In [9]:
def sum_func():
    global m
    m = 45
    print(m+m)

In [10]:
sum_func()

90

In [12]:
print(m+m)

90

# String::::::::::::::

In [2]:
strings = 'set of char'

In [3]:
strings

'set of char'

In [4]:
strings[0]

's'

In [5]:
strings[1]

'e'

In [6]:
len(strings)

11

In [7]:
strings[-1]

'r'

In [8]:
strings[-2]

'a'

In [60]:
strings[3:7]

' of '

In [19]:
strings.upper()

'SET OF CHAR'

In [20]:
strings.lower()

'set of char'

In [21]:
strings.capitalize()

'Set of char'

In [22]:
strings.swapcase()

'SET OF CHAR'

In [31]:
strings

'set of char'

In [23]:
strings.title()

'Set Of Char'

In [33]:
strings.isupper()

False

In [34]:
strings.islower()

True

In [24]:
strings.split()

['set', 'of', 'char']

# Split Formating::::::::::::

In [9]:
x = 100
y = 2000
#100 kg rice price is 2000 taka
print('{} kg rice price is {} taka'.format(x,y))

100 kg rice price is 2000 taka

In [10]:
x = 100
y = 2000
#100 kg rice price is 2000 taka
print('{1} kg rice price is {0} taka'.format(x,y))

2000 kg rice price is 100 taka

# Conditional Statements

Python supports the usual logical conditions from mathematics: 

1. Equals: a == b 
2. Not Equals: a != b 
3. Greater than a > b 
4. Greater than or equal to a >= b
5. Less than a < b 
6. Less than or equal to a <= b

In [11]:
x = 500
y = 800

if x>y:
    print('x is gr. than y')
else:
    print('y is gr. than x')

y is gr. than x

In [12]:
x = 50
y = 50

In [49]:
if x>y:
    print('x is gr. than y')
    
elif x==y:
    if x%2 == 1:
        print('even')
    else:
        print('odd')
    
else:
    print('y is gr. than x')

odd

In [79]:
#take the integer num from user and print the max value
x = int(input('X num = '))
y = int(input('Y num = '))
z = int(input('Z num = '))

if x>y and x>z:
    print('x is greater')
    
elif y>x and y>z:
    print('y is greater')
    
else:
    print('z is greater')

X num = 10
Y num = 5
Z num = 1
x is greater

# Loops

In [80]:
for i in range(1,10):  #end = n-1
    print(i)

1
2
3
4
5
6
7
8
9

In [81]:
strings

'set of char'

In [82]:
for i in strings:
    print(i)

s
e
t

o
f

c
h
a
r

In [84]:
for i in range(1, 20, 2):
    print(i,'data science')

1 data science
3 data science
5 data science
7 data science
9 data science
11 data science
13 data science
15 data science
17 data science
19 data science

In [85]:
for i in range(20, 1, -2):
    print(i,'data science')

20 data science
18 data science
16 data science
14 data science
12 data science
10 data science
8 data science
6 data science
4 data science
2 data science

In [86]:
n = [1,2,3,4,5,56]
total = 0
for i in n:
    total = total+i

In [87]:
print(total)

71

In [89]:
n = [1,2,3,4,5,56]
total = 0
for i in n:
    total = total+i
    print(total)
print('Final = ',total)

1
3
6
10
15
71
Final =  71

# While

In [90]:
for i in range(1, 20, 2):
    print(i,'data science')

1 data science
3 data science
5 data science
7 data science
9 data science
11 data science
13 data science
15 data science
17 data science
19 data science

In [91]:
i = 1
while i <= 20:
    print(i,'data science')
    i = i + 2

1 data science
3 data science
5 data science
7 data science
9 data science
11 data science
13 data science
15 data science
17 data science
19 data science

In [92]:
name = ['arif','abdullah', 'hasib']

i = 0

while i< len(name):
    print(name[i])
    i += 1

arif
abdullah
hasib

In [93]:
name[1]

'abdullah'

In [94]:
name[2]

'hasib'

In [95]:
for i in name:
    print(i)

arif
abdullah
hasib