# For Loop

In [1]:
data = 'Study Mart'
for x in data:
    print(x)

S
t
u
d
y

M
a
r
t

In [2]:
for i in range(1,30):
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
for i in range(1,20): #n-1
    #if i==10:
        #break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
for x in range(1,20):
    if x == 10:
        continue
    print(x)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19

In [8]:
for x in range(1,20):
    if x%2 == 0:
        continue
    print(x)

1
3
5
7
9
11
13
15
17
19

In [9]:
x = 'data' 
x[0]

'd'

In [10]:
x[0] = 'a'

TypeError: 'str' object does not support item assignment

# List

In [11]:
li = [1,2,3,4,5,10,30,'ai','ds',(1,2),[1,20]]

In [12]:
li

[1, 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20]]

In [13]:
li[0]

1

In [14]:
type(li)

list

In [15]:
import sys
sys.getsizeof(li)

144

In [16]:
li[0] = 'a'

In [17]:
li

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20]]

In [18]:
li2 = li
li2

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20]]

In [19]:
li2.append(100) #add

In [20]:
li2

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20], 100]

In [21]:
li

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20], 100]

In [22]:
li3 = li2.copy()
li3

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20], 100]

In [23]:
li2

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20], 100]

In [24]:
li2.append(100) #add

In [25]:
li2

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20], 100, 100]

In [26]:
li3

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20], 100]

In [27]:
li[0]

'a'

In [28]:
li[-1]

100

In [29]:
li[3:7]

[4, 5, 10, 30]

In [30]:
li3[-2][1]

20

# List Methods

In [31]:
li.insert(2,'ai')

In [32]:
li

['a', 2, 'ai', 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 20], 100, 100]

In [33]:
li = [1,2,3,34,4,10,1]
li.sort()

In [34]:
li

[1, 1, 2, 3, 4, 10, 34]

In [36]:
li.remove(1) #specific value

In [37]:
li

[1, 2, 3, 4, 10, 34]

In [38]:
li.pop(1) #specific index

2

In [39]:
del li[0]

In [40]:
li

[3, 4, 10, 34]

In [41]:
li.count(10)

1

In [42]:
li.reverse()

In [43]:
li

[34, 10, 4, 3]

In [44]:
li.extend([20,50])

In [45]:
li

[34, 10, 4, 3, 20, 50]

In [46]:
[print(i) for i in li if (i%2==1)] #odd

3

[None]

In [47]:
[i for i in li if (i%2==1)]

[3]

In [48]:
[i for i in li if (i%2!=1)]

[34, 10, 4, 20, 50]

# Tuple

In [49]:
tup = tuple('data science')

In [50]:
type(tup)

tuple

In [52]:
tup1 = ('aiquest')
type(tup1)

str

In [53]:
tup1 = ('aiquest',)
type(tup1)

tuple

In [55]:
tup = (1,2,34,4,5,10,(1,2,3))

In [56]:
tup[0]

1

In [57]:
tup[0] = 'data'

TypeError: 'tuple' object does not support item assignment

In [58]:
tup2 = list(tup)

In [59]:
tup2

[1, 2, 34, 4, 5, 10, (1, 2, 3)]

In [60]:
type(tup2)

list

In [61]:
tup2[0] = 'data'

In [62]:
tup2

['data', 2, 34, 4, 5, 10, (1, 2, 3)]

In [64]:
tup = tuple(tup2)

In [65]:
tup

('data', 2, 34, 4, 5, 10, (1, 2, 3))

# slicing technique

In [66]:
tup3 = tup[0:3]
tup4 = tup[4:7]

In [67]:
tup3

('data', 2, 34)

In [68]:
tup4

(5, 10, (1, 2, 3))

In [69]:
tup = tup[0:3]+tup[4:7]

In [70]:
tup

('data', 2, 34, 5, 10, (1, 2, 3))

# Set

In [71]:
s1 = {1,2,233,4,5,6}
s2 = {3,4,5,6,7,10}

In [72]:
type(s1)

set

In [73]:
s1 = {1,2,233,4,5,6,6}
s1

{1, 2, 4, 5, 6, 233}

In [74]:
s1[0]

TypeError: 'set' object is not subscriptable

In [75]:
s1.add(10)

In [76]:
s1

{1, 2, 4, 5, 6, 10, 233}

In [77]:

s1

{1, 2, 4, 5, 6, 10, 233}

In [78]:
s2

{3, 4, 5, 6, 7, 10}

In [80]:
#intersection
# {4,5,6,10}

In [81]:
#union
# {1,2,3,4,5,6,7,10,233}

In [82]:
s1.intersection(s2)

{4, 5, 6, 10}

In [83]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 10, 233}

In [84]:
s1&s2 #intersection

{4, 5, 6, 10}

In [85]:
s1 | s2 #union

{1, 2, 3, 4, 5, 6, 7, 10, 233}

In [86]:
s1.add(11)

In [87]:
s1

{1, 2, 4, 5, 6, 10, 11, 233}

In [88]:
s1.remove(4)

In [89]:
s1

{1, 2, 5, 6, 10, 11, 233}

In [90]:
s1.remove(4)

KeyError: 4

In [91]:
s1.add(11)

In [92]:
s1

{1, 2, 5, 6, 10, 11, 233}

In [93]:
s1.add(11)

In [94]:
s1

{1, 2, 5, 6, 10, 11, 233}

In [95]:
s1.discard(4)

In [96]:
s1

{1, 2, 5, 6, 10, 11, 233}

In [97]:
s1.discard(4)

In [98]:
s1.discard(4)

In [99]:
s1.discard(4)

In [100]:
s1.clear()

In [101]:
s1

set()

In [102]:
fr = frozenset(s2)

In [103]:
fr

frozenset({3, 4, 5, 6, 7, 10})

In [106]:
fr.add(11)

AttributeError: 'frozenset' object has no attribute 'add'

# Dictionary

In [107]:
dic = {
    'name':'ovi',
    'age': 28,
    'varsity':'university'
}

In [108]:
dic

{'name': 'ovi', 'age': 28, 'varsity': 'university'}

In [110]:
dic.keys()

dict_keys(['name', 'age', 'varsity'])

In [111]:
dic.values()

dict_values(['ovi', 28, 'university'])

In [115]:
x = int(input())

dic = {}

for i in range(x):
    keys = input()
    value = input()
    dic[keys] = value
print(dic)

1
name
ovi
{'name': 'ovi'}

In [116]:
dic['age'] = 10

In [117]:
dic

{'name': 'ovi', 'age': 10}

In [118]:
dic['age'] = 28

In [119]:
dic

{'name': 'ovi', 'age': 28}

In [120]:
for x in dic:
    print(x)

name
age

In [121]:
for x in dic:
    print(dic[x])

ovi
28

In [122]:
dic.keys()

dict_keys(['name', 'age'])

In [123]:
dic.values()

dict_values(['ovi', 28])

In [124]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rashe\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\rashe\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\rashe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rashe\anaconda3\lib\site-packages)
WARNING: There was an error checking the latest version of pip.

# Pandas

In [125]:
import pandas as pd

In [127]:
li = ['ovi']
pd.DataFrame(li)

     0
0  ovi

In [129]:
li = ['ovi']
df = pd.DataFrame(li, columns=['name'])

In [130]:
df

  name
0  ovi

In [131]:
df.shape

(1, 1)

In [133]:
dic = {
    'name': ['ovi','arif','muizz' ],
    'age':[28, 27, 30]
}

In [134]:
dic

{'name': ['ovi', 'arif', 'muizz'], 'age': [28, 27, 30]}

In [135]:
df2 = pd.DataFrame(dic)
df2

    name  age
0    ovi   28
1   arif   27
2  muizz   30

In [137]:
df2.shape

(3, 2)

In [139]:
df2['name']

0      ovi
1     arif
2    muizz
Name: name, dtype: object

In [140]:
df2.name

0      ovi
1     arif
2    muizz
Name: name, dtype: object

In [141]:
df2['name']

0      ovi
1     arif
2    muizz
Name: name, dtype: object

In [144]:
df2.to_csv('data.csv')

In [145]:
df = pd.read_excel('data2.xlsx')

In [146]:
df

    name  age study
0    ovi   28   abc
1  sohan   30   cdf

In [154]:
#df = pd.read_excel('data3.xlsx')
df = pd.read_csv('data3.csv', sep=';')

In [155]:
df

    name  age study
0    ovi   28   abc
1  sohan   30   cdf

In [157]:
df.drop('study', axis=1)

    name  age
0    ovi   28
1  sohan   30

In [158]:
df.drop([0,1])

Empty DataFrame
Columns: [name, age, study]
Index: []

In [160]:
df

    name  age study
0    ovi   28   abc
1  sohan   30   cdf

In [161]:
df.drop('study', axis=1, inplace=True)

In [162]:
df

    name  age
0    ovi   28
1  sohan   30

In [163]:
df = df.drop('age', axis=1, inplace=True)

In [164]:
df

In [167]:
df = pd.read_csv('data3.csv', sep=';')
df

    name  age study
0    ovi   28   abc
1  sohan   30   cdf

In [168]:
df = df.drop('age', axis=1)

In [169]:
df

    name study
0    ovi   abc
1  sohan   cdf